cabecablho_menu-hamburguer {
    width: 24px;
    height:24 px;
    background-image: url (../img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    color : red ;
